.profile__edit-user {
    display: flex;
    gap: 22px;
    align-items: flex-end;
}

@media screen and (max-width: 550px) {
    .profile__edit-user {
        gap: 10px;
        transform: translateX(12px);
    }
}